.header {
  background-color: transparent;
  z-index: 10;
  position: fixed;
  font-family: $Monts;
  min-width: 100%;

  transition: background-color .5s ease;

////////////// on scroll styles /////////////
  &__scrolling-active {
      background-color: black;

      .header__logo { 
        img.large { 
          height: 3rem;}
      }

      @include breakpoint-down(medium) { //tablet & mobile on scroll
        min-height: 40px;
        background-color: transparent;
        .header__menu {
          background-color: black;
          margin-top: 42px;
          padding: 12px;
        }
        .header__logo {
          img.small {
            display: none;
          }
        }
      }
    }

////////////// non scroll styles /////////////

    a {
        color: white;
        font-size: .875rem;
        font-weight: 500;
        letter-spacing: .0625rem;
        text-transform: uppercase;
      }

    nav {
        overflow: hidden;
        padding-left: .9375rem;
        padding-right: .9375rem;
        position: relative;

    }

  &__logo {

    img {
        padding-top: 1rem;
        padding-left: 2rem;

    }
    img.small { //mobile
        height: 4.45rem; // 100px
        padding-left: 1rem;
    }
    img.large { //desktop
        height: 6.45rem; //140px
    }
  }

  //hamburger 4 mobile

  &__menu { 
    > span {
        display: block;
        height: 2px;
        transform-origin: 3px 1px;
        width: 26px;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        
        background-color: $tambersGold;

        transition: all ease-in-out 300ms;
        
    }
  }

  &.open { //hamburger on click animation (class wil change to "open")

    .header__menu {

        > span:first-child {
            transform: rotate(45deg);
        }

        > span:nth-child(2) {
          opacity: 0;
       }
  
        > span:last-child {
          transform: rotate(-45deg);
       }
    }
    

  }
  
  //dropdown menu for mobile 
  
  .dropdown {
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0px;
    left: 0px;
    right:0px;
    visibility: hidden;
    z-index: 0;
    
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.99)
      );

    a {
        display: block;
        margin-bottom: 25px;
        &:first-child {
            margin-top: 200px;
        }
        text-align: center;

        
        font-size: 1.075rem;
        color: $tambersGold;
        
    }

 }



  //general nav links styles 
  &__links {
      display: inline-block;
      list-style-type: none;
      position: relative;


      .link {
        padding-right: 1.745rem;
      }

  }

  //non-carryout-button animations

  &__underline::after {
      bottom: -.5em;
      content: '';
      display: block;
      height: .1em;
      position: relative;
      width: 0%;

      background-color:$tambersGold;

      transition: all ease-in-out 300ms;
  }

  &__underline:hover::after {
      width: 40%;
      
  }
  
  //carryout button style and animations
  &__button {
          border: 2px solid white;
          border-radius: .130rem;
          background-color: transparent;
          margin-right: 3rem;

          

          a {
          display: inline-block;
          padding: .575em 1.8704em;
          
          color: white;
          font-weight: 600;

          transition: all ease-in-out 300ms;
          }

          transition: all ease-in-out 300ms;
        }

  &__button:hover {
    background-color: $tambersGold;
    border: 2px solid $tambersGold;
    a {
        color: black;
    }
}

}


