.hero {
    min-height: 100vh;
    position: relative;

    &__slides {
        min-height: 100vh;
        min-width: 100%;
        
    }

    &__slide {
        
        background-image: 
            linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
            ), 
            url(../../images/biryani.jpg);

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        z-index: 3;
        position: absolute;
        min-height: 75vh;
        min-width: 100%;
        overflow: hidden;
        top: 0;
        left: 0;

        animation: slideshow 12s linear 0s infinite;

        text-align: center;
        align-items: center;
        justify-content: center;
    }


    &__slide:nth-child(2) {
        background-image: 
            linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
            ), 
                url(../../images/butter-chx.jpeg);

        z-index: 2;
        animation-delay: 4s;
    }

    &__slide:nth-child(3) {
        background-image: 
            linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
            ), 
            url(../../images/Lamb-Saagwala-2.jpg);

        z-index: 2;
        animation-delay: 8s;
    }

    &__slide h1 {
        font-family: $arimo;
        color: white;
        
        padding-top: 30vh;
    }

    /*
    &__text {
        color: blue;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;

    }
    */
}