.social {
    max-width: 100%;
    min-height: 3.125rem;
    position: relative;
    
    background-color: rgb(26, 15, 15);


    &__icon {
        height: 3.125rem;
        padding: 1.25rem 0;

        img {
            opacity: .7;
            height: 1.25rem; 
            margin-right: 1.275rem;
            padding: .575em;

            border: 2px solid $tambersGold;
            border-radius: 1rem;

            transition: all ease-in-out 250ms;
        }

        img:hover {
            opacity: 1;
        }
    }
}